


.wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 4rem;
}

.text {
  width: 600px;
  font-family: 'Poppins', sans-serif;
}

.sub-title {
 text-transform: uppercase;
 font-size: 1.5rem;
 color: #000;
}

.title {
 font-size: 4rem;
 font-weight: 900;
 text-transform: uppercase;
 line-height: 1;
 letter-spacing: -0.03em;
 margin: .5rem 0 2rem;
}

.desc {
 color: #000;
 font-size: 1rem;
 letter-spacing: 0.05em;
 line-height: 1.6;
 margin-bottom: 2rem;
}


